$primaryColor : rgb(0, 72, 155);
.navbar{
    display: flex;
    justify-content: space-between;
    font-family: "ubuntu";
    align-items: center;
    color: $primaryColor;
    width: 100%;
}
.navbar__logo{
margin: 10px 50px;
width: 50%;
}
.navbar__items{
margin: 10px 50px;
display: flex;
width: 50%;
justify-content: flex-end;
list-style: none;
    
}
.navbar__item{
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 0px 5px;
        
    }
    :hover { 
            color: $primaryColor;
        }
    font-family: "ubuntu" ;
    font-size: 1.5em;
    border-left: solid 1px rgb(0, 0, 0);
    margin-left: 10px;
    
}   