.shop-carts{
    display: flex; 
    flex-direction: row ;
    justify-content: space-around ;
    align-items: flex-start ;
     width: 90%;
     
}
.shop-carts__carts{
    display: flex;
    flex-direction: column;
    width: 70%
}
.shop-carts__pay-cart{
    border: 1px solid grey;
    font-family: ubuntu;
    margin :20px 0px;
    min-height: 122px;
    border-radius: 5px;
    padding : 0px 10px ;
    a {
        text-decoration: none;
        font-size: 1.5em;
    }
}
.shop-carts__price{
    
}
.shop-carts__p{
    
}
.shop-carts__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.shop-carts__button-checkout{
    background-color: rgb(0, 72, 155);
    color: white;
    padding: 5px;
    border: none;
    font-family: ubuntu;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    min-width: 30px;
    margin-left: 5px;
}
.shop-carts__button-clear{
    border: none;
    background-color: rgb(189, 0, 0);
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: ubuntu;
    font-size: 0.9em;
    min-width: 30px;
    margin-left: 5px;

}
.shop-carts__checkedout{
    
}
.shop-carts__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}